@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

html {
  margin: 0px;
  background: #FAFAFA;
}

*{
  font-family: 'Nanum Gothic';
}

.MainBackGround {
  background: #FAFAFA;
}

/* 부트 스트랩 캐러셀 높이 스타일 */
.d-block {
  height: 409px;
}

/* 마이페이지 메뉴바 CSS */
.Menu {
  width: 25%;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Menu_item > div > span {
  cursor: pointer;
}

.Menu_item > div > span:hover {
  color: #6b4e16;
}

.Menu_item {
  max-width: 80%;
  width: 53%;
  height: 233px;
  margin-top: 70px;
  border: 1px solid #a8a8a8;
  border-radius: 30px;
  position: relative;
  bottom: 150px;
}

h4 {
  position: relative;
  bottom: 150px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
}
.imgani{
  width:70px;
  height:55px;
}


.atags{
  text-decoration: none;
}

.profile_item {
  width: 100%;
  padding-top: 20px;
  height: 33%;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #a8a8a8;
  text-align: center;
}

.bookmark_item {
  padding-top: 20px;
  width: 100%;
  height: 33%;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  border-top: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  line-height: 29px;
  color: #a8a8a8;
}

.ChatListBox{
  width:473px;
  height: 70px;
  border-bottom: 1px solid #E4E4E4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ChatListBoxTwo{
  width:473px;
  height: 70px;
  border-bottom: 1px solid #E4E4E4;
  display: flex;
  align-items: center;
}

.ChatListBox > div >  img {
  margin-left: 15px;
}

.OneToOne{
  margin-left:35px;
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #3C3C3C;
}

.twoToOne{
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #3C3C3C;
}

.cancel{
  width: 24px;
  height: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.x{
  width: 24px;
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.chat_item {
  width: 100%;
  padding-top: 20px;
  height: 33%;
  text-align: center;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #a8a8a8;
}

.ChatList {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  position: absolute;
  width: 473px;
  height: 770px;
  right: 20px;
  bottom: 100px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}

.ChatListContainer{
  width:425px;
  height: 80px;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  margin-top:25px;
  display: flex;
  align-items: center;
}

.ChatListContainer:hover{
  background: #E4E4E4;
}

.message-container {
  width: 473px;
  height: 770px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-container::-webkit-scrollbar {
  display: none;
}

.listC{
  display: flex;
  justify-content: center;
}
.message-containerTwo {
  width: 100%;
  height: 75%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.firstBox{
  margin-left: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.SecondBox{
  display: flex;
  height: 80px;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  width:179px;
  cursor: pointer;
}

.firstBox > img{
  width:32px;
  height: 32px;
  border-radius: 50px;
}

.ChatName {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  margin-bottom: 5px;
}

.ThirdBox{
  margin-left: 7px;
  position: relative;
  top:10px;
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ChatDel {
  padding: 20px;
  position: relative;
  left:45px;
}


.ChatTime{
  color: #A8A8A8;
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 11px;
  width: 70px;
}

.ChatContent{
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}


.message-containerTwo::-webkit-scrollbar {
  display: none;
}

.icon {
  font-size: 45px;
  position: relative;
  bottom: 5px;
  right: 5px;
}

.RoomOne {
  padding: 20px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RoomOne > button {
  width: 70px;
  height: 70px;
  background-color: #e4e4e4;
  border: none;
  color: #3c3c3c;
  font-weight: 700;
  font-size: 35px;
  border-radius: 10px;
}

.RoomOne > button:hover {
  transform: scale(1.1);
}

.RoomDate {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #a8a8a8;
}

.RoomFake {
  width: 70px;
  height: 70px;
}

.RoomChatList {
  height: 100%;
}

.RoomSend {
  height: 8%;
  margin-top: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RoomInput {
  width: 80%;
  padding: 15px;
  border-radius: 30px;
  height: 80%;
  border: 1px solid #a8a8a8;
  position: relative;
  left: 30px;
}

.RoomSend > button {
  border: none;
  background-color: transparent;
  color: #6b4e16;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  position: relative;
  right: 60px;
}


.RoomImg {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}




.RoomProfile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.RoomProfile > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.me {
  width: 50%;
  text-align: center;
}

.you {
  width: 50%;
  text-align: center;
}

.MainText{
  width: 470px;
  text-align: center;
  padding: 15px;
}

.MyChat{
  margin-right: 37px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.MyContent{
  background: #E4E4E4;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  word-wrap:break-word;
}

.youContent{
  background: #fff;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  word-wrap:break-word;
}

.youContent > span{
  padding: 20px;
  height: 35px;
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
}

.youProfile {
  width:50px;
  height: 50px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
}

.youNickname{
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 11px;
  margin-bottom: 14px;
}







.MyContent > span{
  padding: 10px 15px;
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  height: 35px;
  line-height: 15px;
}

.MyTime{
  color: #A8A8A8;
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: flex-end;
  margin-right: 5px;
}

.youTime{
  color: #A8A8A8;
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
}



.SendChat{
  width:470px;
  position: relative;
  left: 35px;
  bottom: 30px;
}

.youChat{
  margin-left: 79px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
}








.SendChat > input {
  width: 400px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  padding-left: 15px;
}

.SendChat > button {
  position: relative;
  right: 70px;
  border: none;
  background-color: transparent;
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #6B4E16;
}

.SendChat > input:focus{
  outline: 1px solid #F4B03E;
}













.circle2 {
  width: 30px;
  height: 30px;
  border: 1px solid #64b5f6;
  border-radius: 50%;
  background-color: #64b5f6;
}

.circle {
  width: 30px;
  height: 30px;
  border: 1px solid #81c784;
  border-radius: 50%;
  background-color: #81c784;
}

.who {
  height: 40%;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.circlePosition {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}

.pagination-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 40px;
  width: 40px;
  text-decoration: none;
  transition: background-color 0.2s;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination-container a.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #7cbddb;
}

.pagination-container a.disabled {
  opacity: 0.2;
}
.pagination-container a:hover:not(.active) {
  background-color: rgb(238, 238, 238);
}

.btnBox {
  width: 100%;
  text-align: right;
}

.MoreBtn {
  border: 2px solid #ddd;
  width: 70px;
  height: 30px;
  transition: all 0.25s ease;
  border-radius: 5px;
  margin-top: 30px;
  position: relative;
  left: 0px;
  margin-bottom: 10px;
}

.MoreBtn:hover {
  border-color: #111;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 10%);
}

.Trash{
  margin-right: 20px;
  cursor: pointer;
  font-size: 18px;
}

.Trash:hover{
  color:red;
}

.BookHr{
  margin: 30px;
  width: 1013px;
  position: relative;
  right: 81px;
  border: 1px solid #A8A8A8;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}
